* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f2f9ff;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.header {
    background-color: #fff;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.header-container {
    display: flex;
    justify-content: space-around;
}

.header-box {
    padding: 10px;
    text-align: center;
}

.header-box:hover {
    background-color: #2ecc71;
    color: black;
}

.authentication-module {
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    width: 100%;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.forgot-password {
    margin-bottom: 20px;
}

.alternative-actions {
    margin-top: 20px;
}

.alternative-actions span {
    font-weight: bold;
}

.narrow-container {
    width: 100%;
    padding: 20px;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

button:hover {
    background-color: #45a049;
}

a[onclick] {
    text-decoration: underline; 
    color: blue;
    cursor: pointer;
}